*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* Navbar CSS Apply Here*/

.navbar{
    display: flex;
    justify-content: space-around;
    background-color: rgb(45, 87, 126);
    padding: 15px;
}
.header-item{
    font-size: 40px;
    color: rgb(240, 5, 169);
    padding-bottom:  15px;
}
.menu-item nav ul li{
    list-style:  none;

}

.menu-item nav ul li a{
font-size: 25px;
padding: 20px;
gap: 20px;
text-decoration: none;
color: F02576;
padding-top: 20px;
}
.menu-item nav ul li a button{
    padding: 10px;
    color: white;
    background-color: green;
    border: 1px solid rgb(255, 30, 120);
    border-radius: 4px;
}


/* Banner Section CSS Apply */
.banner{
    margin-bottom: 85px;
}
.baner-content{
   
    margin-top: 170px;
   
}
.baner-content h1{
    color: rgb(222, 14, 125);
    margin-bottom: 10px;
}
.baner-content p{
    color: rgb(9, 80, 231);
    font-size: 25px;
    margin-left: 30px;
    
    
    
    
}

     button {
        background-color: rgb(240, 37, 118);
        color: blanchedalmond;
        font-size: 18px;
        font-family: roboto;
        margin-bottom:10px;
        padding: 8px;
        border: 2px solid rgb(28, 145, 195);;
        border-radius: 6px;
    
    
    }

    button:hover{
        background-color: green;
        color:red;
        transform: 0.5s;
        transition: 1.2s;
        
    }
    .contact{
        margin-left: 75px;
    }

.banner{
    display: flex;
    justify-content:space-around;
    
}
img{
    width: 260px;
    height: 260px;
    border-radius: 50%;
    margin-right: 30%;
    margin-top: 100px;
   border: 3px solid blue
    
}
/*  */

/* About Section CSS Apply */

.about-section{
    width: 500px;
    height: 550px;
margin: 0px auto;
margin-bottom: 10px;

}
.about-section h1{
    font-size: 45PX;
    font-weight: 300;
    color:2D577E;
    text-align: center;
    margin: bottom -150px;

}

.about-section p{
    color:black ;
    text-align: center;
}
.btn1{
    border: 2px solid rgb(28, 145, 195);
    border-radius: 8px;
    font-size: 18px;
    font-weight: 100;
    color: rgb(236, 227, 232);
    background-color: rgb(240, 37, 118);
    padding: 10px;
    margin-top: 10px;
    margin-left: 110px;
    
}
.btn2{
   
    border:2px solid rgb(28, 145, 195);
    border-radius: 8px;
    border-color: none;;
    font-size: 18px;
    font-weight: 100;
    color: rgb(236, 227, 232);
    background-color: rgb(240, 37, 118);
    padding: 10px;
    margin-top: 10px;
    margin-left: 15px;
       
}

.btn1:hover{
      background-color: green;
    color:red;
    transform: 0.5s;
    transition: 1.5s;
    
}
 .btn2:hover{
    background-color: green;
    color:red;
    transform: 0.5s;
    transition: 1.5s;
    
}

/* another section CSS */

.another-section .my-object{
 text-align: center;
}


.div-1,.div-2,.div-3{
    box-shadow: 2px 1px 2px rgb(213, 217, 213);
    with: 150px;
    height: 280px;
    
    column-gap: 20px;
    padding: 10px;
    

}

.div-1.div-2  h1{
   margin: 0 auto;
    
    
}
      

.div-1,.div-2, .div-3 p {
    text-align: justify;
    
}
  
.another-section{
margin-top: -150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
   column-gap: 30px;
   position: relative;
   left: 0;
   top: 0;
      
}
.another-section p{
   justify-content: center ;
   margin-top: 15px;
   color: rgb(3, 3, 3) !important;
}

.another-section h1{
    margin-left: 110px;
    margin-top: 10px;
    color: 2D577E;
}

.my-object{

    position:absolute;
    top: -100px;
    left: 35%;
}
    
.my-object h1{
    color: 2D577E;
    font-weight: 100;
}


button{
    background-color: rgb(240, 37, 118);
    color: blanchedalmond;
    font-size: 18px;
    font-family: roboto;
     margin-top: 20px;
    margin-left: 150px;
    padding: 8px;
    border-radius: 6px;
}
.div-3 button{
    margin-left: 160px
    ;
}
            /*           */

/* Service Section CSS Apply */

.Service-section div h1{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: 2D577E;
    font-weight: 100;
}
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    
}   

.div{
    border: 1px solid rgb(28, 145, 195);
    padding: 25px;
}